/**
 * 1.GLOBAL
 */

html {-webkit-font-smoothing: antialiased; }
body {
  background: #fff;
  color: #222;
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-style: italic;
  font-weight: normal;
}
h1, .h1 {
  font-size: 2.2em;
  line-height: 1em;
  margin-top: .8em;
  margin-bottom: .5em;
  text-align: center;
}
h2, .h2 {
  font-size: 2em;
  line-height: 1;
  margin-top: 1em;
  margin-bottom: 0;
}
h3, .h3 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-top: 1.2em;
}
h4, h5, h6, .h4, .h5, .h6 {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1.5em;
}
p {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}
a { color: yellowgreen; text-decoration: none; }
a:visited { color: olivedrab; }
a:hover, a:active, li a.active  { color: black; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


.page-node img {
    max-width: 100%;
    height: auto;
}

strong, .strong {font-weight: bold;}
em, .em {font-style: italic;}

span.caption {
    text-align: center;
    font-style: italic
}

@media all and (max-width: 767px) {
    img {
        max-width: 100%;
        height: auto;
        text-align: center;
    }
    #main {
        margin: 0 5%;
    }
    .issue-view .views-row {
        margin-bottom: 2em;
        position: relative;
    }
    .issue-view .views-row img {
   
    }
    .issue-view .views-row h2 {
        margin-top: .2em;
    }
    .issue-view .views-row .views-field-field-issue-image {
        width: 100%;
        height: 150px;
        overflow: hidden;
    }
    .issue-view .views-row img {
        width: 100%;
        height: auto;
    }
    .next-link {
        float: right;
    }
    #site-name, #site-slogan, .region-header, .breadcrumb, .issue-number, #sidebar-second,
    .user-picture, .view-contributors .views-field-picture {
        display: none;
    }
    #main-menu ul,
    .view-contributors ul {
        list-style-type: none;
    }
    #main-menu li {
        display: inline;
        font-size: 1.5em;
        margin-right: 15px;
    }
    .view-contributors .item-list ul li {
            margin-left: 0;
    }
    #header {
        background: black;
        color: white;
        text-align: center;
    }
    #header a.active,
    #header a:hover {
        color: white;
    }
    .page-blog .submitted, .node-type-blog-post .submitted, .page-user .submitted {
        color: gray;
        display: block;
        font-size: 0.85em;
        margin-bottom: 15px;
    }
    .page-blog .views-row, .node-type-blog-post .views-row, #block-views-content-by-contributor-block-1 .views-row {
        border-bottom: 1px dotted black;
    } 
    .item-list .pager {
        margin-top: 1em;
    }
    .field-name-field-byline {
        text-align: center;
        color: darkgray;
        font-style: italic;
        margin-bottom: 1.5em;
    }
    .media-vimeo-outer-wrapper,
    .media-youtube-video iframe  {
        max-width: 100%;
    }
    #main-menu a  {
        color: greenyellow;
    }
}
@media all and (max-width: 930px) {
    #block-search-form {
        display: none;
    }
}



@media all and (min-width: 768px) {

/**
 * 2.LAYOUT
 */

body {
    overflow-x: hidden;
}

#container {
  margin: 0;
  width: 93%;
  margin-left: 4%;
}

.field-name-body img {
    max-width: 90%;
    height: auto;
}

/**
 * 3.MAIN
 */

#main {
  display: block;
  margin: 0;
  position: relative;
}
body.sidebar-second #main {
  float: left;
  margin: 0;
  padding: 0;
  width: 70%;
}
body.sidebar-second #sidebar-second,
body.sidebar-second.node-type-blog-post #sidebar-second {
    float: right;
    margin: 0;
    padding: 1%;
    padding-top: 30px;
    width: 24%;
    margin-top: 0;
    background-color: whitesmoke;
    background-image: url('bg.gif');
    border: 1px solid #aaa;
    border-top: 0px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 1px 1px 2px lightgray;
}

body.sidebar-second.page-node #sidebar-second,
body.sidebar-second.page-user #sidebar-second {
    padding: 30px 0 0 0;
    overflow: hidden;
    width: 26%;
}
.page-user #sidebar-second .item-list .pager {
    margin-top: 10px;
}
body.sidebar-second.page-user #sidebar-second {
}

body.sidebar-second.node-type-blog-post #sidebar-second {
    padding: 1%;
    padding-top: 30px;
    width: 24%;
}
.page-taxonomy #main h1 {
    display: block;
    color: white;
    text-shadow: black 1px 1px 2px;
    z-index: 100;
    font-size: 5em;
    opacity: 1;
    position: absolute;
    top: -50px;
    text-align: left;
    margin: 0;
    margin-left: 10px;
}
.page-taxonomy .view-content {
    margin-top: 50px;
    width: 100%;
    max-width: 1300px;
}
.page-issues #sidebar-second,
.page-contributors #sidebar-second {
    display: none;
}
body.page-issues #main,
body.page-contributors #main {
    width: 100%;
}
.issue-view {
    display: block;
    width: 100%; height: 100%;
    position: relative;
}
.issue-view .views-row {
    display: block;
    width: 31.5%;
    height: 275px;
    overflow: hidden;
    float: left;
    position: relative;
    padding: 0;
    margin-right: 2.3%;
    margin-bottom: 25px;
}
.issue-view .views-row header {
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
}
.issue-view .views-row .field-name-body { position: absolute; top: 30px; }
.issue-view .views-row .field-name-field-issue-image { position: absolute; top: 0; left: 0; z-index: 5;}
.issue-view .views-row-1 { height: 575px; margin-bottom: 0;}
.issue-view .views-row-2 { }
.issue-view .views-row-3 { margin-right: 0; }
.issue-view .views-row-4 { margin-bottom: 0;}
.issue-view .views-row-5 { margin-right: 0; margin-bottom: 0; }

.issue-view header { width: 100%;}
.issue-view .views-field-title {
    color: white;
    position: absolute; 
    z-index: 10; bottom: 75px; 
    padding: 10px; 
    font-size: 1.5em;
}
.issue-view a { color: black; }
.issue-view a:hover {color: black; }
.issue-view .views-field-field-byline { 
    position: absolute; z-index: 0; bottom: 10px; 
    text-align: center; 
    padding: 10px;
    font-style: italic;
    line-height: 1.1em;
    font-size: .8em;
}
.issue-view img {
    z-index: 50; 
    height: 275px;
    width: auto; 
    position: absolute; 
    top: 0; left: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}
.issue-view .views-row-1 img {height: 575px; width: auto;}
.issue-view img:hover {opacity: .1;}



/* ---- Issues Index ---- */
.issues-index .views-row {position: relative;}
.issues-index .views-field-name { font-size: 1em; font-style: italic; display: inline;}
.issue-number {
    font-size: 1.2em;
}
.issues-index .views-row {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}


/* ---- Sidebar ----*/
#block-views-issu-block .block-title {display: none;}
#sidebar-second h2 {
    margin-top: 0;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
#sidebar-second h2 a,
#sidebar-second h2 a:hover,
#sidebar-second h2 a:visited {
    color: black;
}
#sidebar-second .view-id-issu .view-issue-contents-view .views-row {
    display: block;
    height: 85px;
    overflow: hidden;
    position: relative;
}
#sidebar-second .view-id-issu .view-issue-contents-view .views-row img,
.page-user #sidebar-second .views-row img {
    width: 105%;
    height: auto;
}   
.page-user #sidebar-second .views-row {
    display: block;
    height: 85px;
    overflow: hidden;
    position: relative;
}

#sidebar-second .views-row img {position: absolute; top: 0; left: 0;}
#sidebar-second .views-row .views-field-title {
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    display: block;
    width: 100%; height: 100%;
}
#sidebar-second .views-row .views-field-title a {
    display: block;
    width: 100%; height: 100%;
    background-color: rgba(255,255,255, 0.3);
    font-size: 1.5em;
    font-style: italic;
    line-height: 1em;
    color: white;
    text-shadow: black 1px 1px 2px;
    padding: 5%;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
}
#sidebar-second .views-row .views-field-title a.active {
    background-color: whitesmoke;
    background-image: url('bg.gif');
    color: black;
    text-shadow: black 0px 0px 0px;
    padding-left: 2%;
}
#sidebar-second .views-row .views-field-title a:hover.active {
    background-color: whitesmoke;
    background-image: url('bg.gif');
    padding-left: 2%;
}
#sidebar-second .views-row .views-field-title a:hover {
    background-color: rgba(255,255,255, 0);
    padding-left: 2%;
}

#sidebar-second .view-Blog-Browser .views-row {
    height: auto;
    margin-bottom: 10px;
}
#sidebar-second .view-Blog-Browser .views-row .views-field-title {
    background-color: transparent;
    position: static;
}
#sidebar-second .view-Blog-Browser .views-field-title a {
    color: black;
    transition: none;
    text-shadow: none;
    font-size: 1.2em;
    -moz-transition: none;
    padding: 0;
    background: transparent;
    color: yellowgreen;
}
#sidebar-second .view-Blog-Browser .views-field-title a:visited { color: olivedrab; }
#sidebar-second .view-Blog-Browser .views-field-title a:hover, a:active, 
#sidebar-second .view-Blog-Browser .views-field-title a.active  { color: black; text-shadow: none; }
#sidebar-second .view-Blog-Browser .views-field-title a:hover {
    padding: 0;
}
#sidebar-second .view-Blog-Browser .views-field-created {
    font-size: .8em;
    margin-left: 20px;
    color: #888;
}


/**
 * 5.HEADER
 */

#header {
  position: relative;
  background-color: black;
  width: 110%;
  margin-left: -5%;
  height: 100px;
    text-align: center;
    padding-top: 10px;
}
#header #logo {display: none;}
#header #site-slogan {display: none; margin: 0;}
#header #site-name {
  position: absolute;
  left: 40px;
  font-size: 1em;
  margin: 0;
  margin-top: 8px;
  width: 213px;
}
#header #site-name a {
  color: transparent;
  text-decoration: none;
  display: block;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  width: 213px;
  height: 72px;
  transition: all 10s ease-in;
  -moz-transition: all 10s ease-in;
  -webkit-transition: all 10s ease-in;
  -ms-transition: all 10s ease-in;
  -o-transition: all 10s ease-in;
}
#header #site-name a:hover {
    text-decoration: none;
}



/**
 * 6.NAVIGATION
 */
#block-system-main-menu h2 {
    display: none;
}
#block-system-main-menu .menu {
    padding: 0;
}

#block-system-main-menu ul {
    list-style-type: none;
    font-size: 1.5em;
    margin-left: 290px;
    margin-top: 25px;
}
#block-system-main-menu ul li {
    display: inline;
    margin-right: 20px;
}
#block-system-main-menu a {
    color: whitesmoke;
    display: inline-block;
    font-weight: light;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
}
#block-system-main-menu a:hover,
#block-system-main-menu a.active {
    color: greenyellow;
}
#navigation {
  clear: both;
  margin: 0;
  padding: 0;
  display: none;
}

#navigation ul#main-menu {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation ul#main-menu li {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation ul#main-menu li a {
  display: block;
  padding: 0 2em 0 0;
}

#navigation ul#secondary-menu {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation ul#secondary-menu li {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation ul#secondary-menu li a {
  display: block;
  padding: 0 2em 0 0;
}

.breadcrumb {
  display: none;
}

#skip-link {
  position: absolute;
}

/* menus and item lists */

.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0 1em 0 0;
}

/* admin tabs */

.tabs-wrapper {
  border-bottom: 1px solid #333;
  margin: 0 0 1.4375em;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  display: block;
  float: left;
  line-height: 1.5em;
  margin: 0;
  padding: 0 1em;
}

ul.primary li a:hover, ul.primary li a.active {
  background: #666;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a, ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5em;
  padding: 0 1em;
}

ul.secondary li a:hover, ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/**
 * 7.NODES
 */

.node {
  margin-bottom: 1.5em;
}

.field {
    margin-bottom: 10px;
}
.field-name-field-tags {
  margin: 0 0 1.5em;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}
.field-name-field-byline  {
    text-align: center;
    font-style: italic;
    color: gray;
    line-height: 1.2em;
    font-size: 1.1em;
    margin-bottom: 1.5em;
    margin-top: -.75em;
}

.node-type-art #main .content {text-align: center;}
.form-item {
    margin: 40px 0;
}
label {
    font-weight: bold;
}

.view-Contributors img {
    float: left;
    margin: 10px;
    margin-top: 0;
}
.col-1,
.col-2 {
    width: 49%;
}
.col-1 {
    padding-right: 10px;
}
.view-Contributors .about {
    font-size: .85em;
}

/* Column Settings */

/*.page-contributors #main .view-content, .issues-index,*/
.node-type-article .field-name-body,
.node-type-audio .field-name-body,
.node-type-video .field-name-body,
.node-type-pickle-barrel .field-name-body,
.page-node-4 .field-name-body {
    -moz-column-count: 2;
    -webkit-column-count: 2; 
    column-count: 2;
    text-align: left;
}
.ajax-progress .throbber {
    display: none;
}
.node-type-blog-post h1 {
    text-align: left;
    margin-bottom: 0;
}
.page-user h2 {font-size: 2em;}
.page-blog h2,
.page-user .views-row h2  {font-size: 1.75em; margin-bottom: 0;}
.page-blog h2 a {color: black;}
.page-blog .user-picture,
.node-type-blog-post .user-picture,
.page-user .views-row .user-picture {display: none;}
.page-blog .submitted,
.node-type-blog-post .submitted,
.page-user .submitted {
    -webkit-margin-after: 0px;
    display: block;
    font-size: .85em;
    color: gray;
    margin-bottom: 15px;
}
.page-blog .views-row,
.node-type-blog-post .views-row,
#block-views-content-by-contributor-block-1 .views-row { border-bottom: 1px dotted black;}
.page-blog .views-row-last,
.node-type-blog-post .views-row-last {border-bottom: 0;}
.page-blog .views-row .node,
.node-type-blog-post .views-row .node {margin-bottom: 1.5em;}
.page-blog .field-name-field-media,
.node-type-blog-post .field-name-field-media {text-align: center;}

.view-contributors ul {
    list-style-type: none;
    margin: 0; padding: 0;
}
.view-contributors li { min-height: 210px;}
.view-contributors .views-field-picture {float: left; margin-right: 10px;}
.view-contributors .views-field-name {
    line-height: 1em;
}
.view-contributors .field-content {line-height: 1.3em;}
.view-contributors .views-field-field-twitter {display: inline;}
.view-contributors .views-field-field-website {display: inline; margin-left: 10px;}

#block-views-content-by-contributor-block-1 > h2 {
    text-align: center;
}
.field-name-field-media {
    text-align: center;
}
.node-type-article #main .content .field-type-image {
    text-align: center;
}

/* profile */

.profile {
  margin: 1.5em 0;
  height: 180px;
  border-bottom: 1px dotted black;
  padding-bottom: 1em;
}
.profile h3 { border: none;}
.profile dt { margin-bottom: 0; }
.profile dd {margin-bottom: 1.5em;}
.password-parent {width: 36em;}

/**
 * 8.COMMENTS
 */

#comments { clear: both; margin-top: 1.5em;}
.comment { margin-bottom: 1.5em; }
.comment .new {
  color: red;
  text-transform: capitalize;
  margin-left: 1em;
}



/**
 * 9.BLOCKS
 */

.block {
  margin-bottom: 0;
}



/* ---- Search ---- */
#block-search-form {
    width: 22%;
    position: absolute;
    right: 6%; top: 40px;
    text-align: right;
}
#edit-search-block-form--2 {width: 60%;}
/*Chrome style override*/
input[type="search"], isindex {
    -webkit-appearance: textfield;
    padding: 1px;
    border: 0px;
    border-image: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: text;
}
input, textarea {
    height: 20px;
    margin-right: 7px;
    cursor: pointer;
}
#search-block-form .form-submit {
    background-color: #333;
    border: 1px #bbb solid;
    height: 22px;
    padding-bottom: 2px;
    color: white;
}



/* ---- Pagers ---- */
.item-list .pager li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
.item-list ul {
    padding: 0;
    margin: 10px;
}
.prev-link a,
.next-link a,
ul.pager li,
ul.pager li a {
    display: block;
    height: 50px;
    width: 40%;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 0;
    opacity: .5;
}
ul.pager li.pager-current {
    display: none;
}
.prev-link a,
 li.pager-previous,
 li.pager-previous a {
    text-align: left;
    float: left;
}
.prev-link a,
li.pager-previous a {
    background-image: url('prev.png');
    background-position: top left;
}

.next-link a,
li.pager-next,
li.pager-next a {
    text-align: right;
    float: right;
}
.next-link a,
li.pager-next a {
    background-image: url('next.png');
    background-position: top right;
}
.next-link a:hover,
.prev-link a:hover,
li.pager-next a:hover,
li.pager-previous a:hover {
    opacity: 1;
}
#block-views-issue-pager-block-1 .prev-link a,
#block-views-issue-pager-block-1 .next-link a {
    position: absolute;
    top: 45%;
    z-index: 50;
    width: 45px;
    cursor: pointer;
}
.prev-link a {
    left: -40px;
}
.next-link a {
    right: -30px;
}
.page-node #block-views-issue-pager-block-1 {
    display: none;
}

/**
 * 10.FOOTER
 */

#footer {
  clear: both;
  padding: 0;
  position: relative;
}

#footer a.feed-icon {
  position: absolute;
  right: 0;
  top: 1.6667em;
}



@media all and (min-width: 768px) and (min-height: 850px) {
    .page-taxonomy #main h1 {
        top: -85px;
    }
    .page-taxonomy .view-content {
        margin-top: 90px;
    }
}

.tabs-wrapper {
    position: absolute;
    right: 0;
    z-index: 100;
    top: -40px;
}
.tabs-wrapper ul {
    background-color: black;
    width: 100%;
    display: block;
}